.header {
    display: flex;
    background-color: rgb(50, 167, 145);
}
.trybewarts-login {
    display: flex;
}
#label-family{
    display: flex;
    flex-direction: column;
}
main{
    display: flex;
}
form {
    display: flex;
    width: 675px; 
}
#evaluation-form {
    flex-direction: column;
    /* border: 1px solid black; */
}
#trybewarts-forms-logo {
    height: 500px;
}
.names {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
#label-content {
    display: flex;
    flex-direction: column;
    /* border: 1px  solid black; */
}
#sections {
    border: 1px solid green;
    display: flex;
    flex-direction: row;
    flex-grow: auto;
}